extends layout 
include _includes/sharedHTMLfunction
block content 
    .row.banner 
        .col-12 
            h1=pageHeader.title
    .row 
        .col-12.col-lg-9    
            .row 
                .col-12.col-md-6
                    p.rating 
                        +outputRating(location.rating)
                    p 125 High Street, Reading RG6 1PS
                    .card.bg-primary
                        .card-body
                            h2.card-title Opening Hours 
                            each time in location.openingTimes 
                                p.card-text
                                    | #{time.days} :
                                    if time.closed 
                                        | #{time.opening} - #{time.closing}
                    .card.bg-primary 
                        .card-body 
                            h2.card-title Facilities 
                            each facility in location.facilities 
                                span.badge.bg-warning 
                                    i.fa-fa-check
                                    | &nbsp;#{facility} 
                                | &nbsp;
                .col-12.col-md-6.location-map 
                    .card.bg-primary 
                        .card-body 
                            h2.card-title Location Map 
                            img.img-fluid.rounded(src='https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/w_2560%2Cc_limit/GoogleMapTA.jpg')
            .row    
                .col-12
                    .card.bg-primary.review-card 
                        .card-body 
                            a.btn-primary.float-end(href='/location/review/new') Add Review
                            h2.card-title Customer Reviews
                            each review in location.reviews
                                .row.review 
                                    .col-12.no-gutters.review-header    
                                        span.rating 
                                            +outputRating(review.rating)
                                        span.reviewAuthor #{review.author} 
                                        small.reviewTimestamp #{review.timeStamp}
                                    .col-12 
                                        p !{(review.reviewText).replace(/\n/g, '<br/>')}
        .col-12.col-lg-3 
            p.lead #{location.name} #{sidebar.context}
            p= sidebar.callToAction
                                        
